<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="Description" content="Enter your description here" />
		<link rel="shortcut icon" type="image/x-icon" href="../Assets/css/favicon.ico" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		/>
		<title>Title</title>
	</head>
	<body>
		<div class="card p-3 col-md-4 offset-md-2">
			<div class="form-group">
				<label for=""><strong>Current Password</strong></label>
				<input
					type="password"
					class="form-control"
					id="currentpassword"
					placeholder="Enter Current Password"
				/>
			</div>
			<div class="form-group">
				<label for=""><strong>New Password</strong></label>
				<input
					type="password"
					class="form-control"
					id="currentpassword"
					placeholder="Enter New Password"
				/>
			</div>
			<button
				type="submit"
				id="adminloginbtn"
				class="btn btn-success text-white pl-4 pr-4"
			>
				<strong>Make Change</strong>
			</button>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
	</body>
</html>
