<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="Description" content="Enter your description here" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		/>
		<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
		<link rel="stylesheet" href="../assets/css/adminnav.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css"/>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css"/>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css"/>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.rtl.min.css"/>
        <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js"></script>
        <script>
        const firebaseConfig = {
            apiKey: "AIzaSyAUCgn__4r9gxa1nIHWuibSz-NxzdeEofw",
            authDomain: "ishwarsingh-fe6da.firebaseapp.com",
            projectId: "ishwarsingh-fe6da",
            storageBucket: "ishwarsingh-fe6da.appspot.com",
            messagingSenderId: "113178540955",
            appId: "1:113178540955:web:f443106593679e5c937f3e",
            measurementId: "G-NGDRDVFQ7S"
        };

        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        </script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>

		<script type="text/javascript">
			emailjs.init('user_rAVoQtXer3r6TneuL4ZrD')
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script>
			$(document).ready(function () {
				var trigger = $(".class_name"),
					container = $("#lo");

				trigger.on("click", function () {
					var $this = $(this),
						target = $this.data("target");
					container.load(target);
					return false;
				});
			});
		</script>
		<tile>Dashboard</tile>
	</head>
	<body>
		<div class="container-fluid min-vh-100 min-vw-100">
			<div class="d-flex justify-content-between">
				<div class="" style="width: 220px; height: 120px">
					
				</div>

				<div class="d-flex align-items-center">
					<div class="pr-1">
						<h5 id="loginname">
							Welcome <strong> username </strong> <span class="pl-2">|</span>
						</h5>
					</div>
					
					<div class="ml-1 logout">
						<button style="color: black" id="logoutbtn">
							<span style="color: #f49303" class=""><i class="fas fa-sign-out-alt"></i></span><strong>Logout</strong>
						</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-2 collapse show d-md-flex mt-2 pl-0" id="sidebar">
					<div class="sidebar-container">
						<div class="sidebar-logo">
						  Admin Panel
						</div>
						<ul class="sidebar-navigation">
						  <li>
							<a class="admin_dash class_name" data-target="admindash">
							  <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
							</a>
						  </li>
						  <li>
							<a class="admin_dash class_name" data-target="managechat">
							  <i class="far fa-comment" aria-hidden="true"></i> Manage Chat
							</a>
						  </li>
						  <li class="header">FAQ</li>
						  <li>
							<a class="FAQ class_name" data-target="faq">
							  <i class="fa fa-question-circle" aria-hidden="true"></i> Manage FAQ
							</a>
						  </li>
						  
						  <li class="header">Notice</li>
						  <li>
							<a class="class_name" data-target="notice">
							  <i class="fa fa-clipboard" aria-hidden="true"></i> Manage Notice
							</a>
						  </li>
						  
						  <li class="header">User</li>
						  <li>
							<a class="class_name" data-target="adminusercrud">
							  <i class="fa fa-user" aria-hidden="true"></i> Manage User
							</a>
						  </li>
						  
						  <li class="header">Mentor</li>
						  <li>
							<a class="class_name" data-target="managementor">
							  <i class="icon-coaches" aria-hidden="true"></i> Manage Mentor
							</a>
						  </li>
						  
						  <li class="header">Admin</li>
						  <li>
							<a class="class_name" data-target="adminmanage">
							  <i class="fas fa-user-tie" aria-hidden="true"></i> Manage Admin
							</a>
						  </li>
						  
						</ul>
					  </div>
					  
				</div>
				<div class="col">
					<div class="mt-5" id="lo">
					
							<div class="jumbotron">
								<h1 class="display-3">Welcome Admin</h1>
								<p class="lead">Need Any Help?</p>
								<hr class="my-2">
								<p>Click Here</p>
								<p class="lead">
									<a class="btn btn-primary btn-lg admin_dash" role="button">Load</a>
								</p>
							</div>
						</div>
                        
                    </div>
				</div>
			</div>
		</div>
	
		<script src="../assets/js/dashboardhandler.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
	</body>
</html>