<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="Description" content="Enter your description here" />
        <link rel="shortcut icon" type="image/x-icon" href="../Assets/css/favicon.ico" />
        <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
			function AdminvalidateToken(){
				var flag = 0;
				firebase.database().ref('/login/admin').once('value').then((snapshot)=>{
					snapshot.forEach((childSnapshot)=>{
						if(childSnapshot.val().email === sessionStorage.getItem('email') && childSnapshot.val().count > 0){ 
							flag = 1;
						} 
					})
					if(flag === 0) {
						location.replace(`${location.origin}`);
					}
				})  
			}    
			var token = setInterval(AdminvalidateToken, 2000); 
		</script>
        
		<title>FAQ</title>
	</head>
	<body>
		<div class="col-md-6 offset-md-2 card p-3">
            <div class="form-group">
                <label for=""><strong>FAQ Question</strong></label>
                <input
                    type="text"
                    class="form-control"
                    id="question"
                    placeholder="Enter FAQ Question"
                />
            </div>
            <div class="form-group">
                <label for=""><strong>FAQ Answer</strong></label>
                <input
                    type="text"
                    class="form-control"
                    id="answer"
                    placeholder="Enter FAQ Answer"
                />
            </div>
            <button
                type="submit"
                id="faqbtn"
                class="btn btn-default text-white pl-4 pr-4 bg-success"
            >
                <strong>Submit</strong>
            </button>
        </div>
        <script src="../assets/js/faqhandler.js" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
	</body>
</html>
