<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="Description" content="Enter your description here" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		/>

		<title>Company</title>
	</head>
	<body>
		<style>
			.center {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		</style>
		<div class="center">
			<button
				type="button"
				class="btn btn-outline-primary btn-lg btn-block"
				id="adminlogin"
			>
				ADMIN
			</button>
			<button
				type="button"
				class="btn btn-outline-success btn-lg btn-block"
				id="studentlogin"
			>
				STUDENT
			</button>
			<button
				type="button"
				class="btn btn-outline-success btn-lg btn-block"
				id="mentorlogin"
			>
				MENTOR
			</button>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
		<script>
			var adminlogin = document
				.getElementById("adminlogin")
				.addEventListener("click", (e) => {
					location.replace(`${location.origin}/adminlogin`);
				});

			var studetnlogin = document
				.getElementById("studentlogin")
				.addEventListener("click", (e) => {
					location.replace(`${location.origin}/studentlogin`);
				});

			var studetnlogin = document
				.getElementById("mentorlogin")
				.addEventListener("click", (e) => {
					location.replace(`${location.origin}/mentorlogin`);
				});
		</script>
	</body>
</html>
