<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="shortcut icon" type="image/x-icon" href="../Assets/css/favicon.ico" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<script>
    function AdminvalidateToken(){  
        var flag = 0;
        firebase.database().ref('/login/admin').once('value').then((snapshot)=>{
            snapshot.forEach((childSnapshot)=>{
                if(childSnapshot.val().email === sessionStorage.getItem('email') && childSnapshot.val().count > 0){ 
                    flag = 1;
                } 
            })
            if(flag === 0) {
                location.replace(`${location.origin}`);
            }
        })  
    }    
    var token = setInterval(AdminvalidateToken, 2000); 
</script>
<title>Manage Membership</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class=" col-md-5 ml-2">
                <div class="p-2">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Membership: </label>
                        <input
                            type="text"
                            class="form-control"
                            id="membership"
                            placeholder="Enter Membership Name"
                        />
                    </div>
                        
                    <div id="inputcontainer" class="form-group"></div>
                    
                    <button class="btn btn-primary" id="addsession">(+)</button>       

                    <button class="btn btn-primary" id="addmentorshipbtn">Save</button>
                </div>
            </div>
            <div class="card p-2 col-md-6">
                <h3 class="text-center">Mentorship Details</h3>		
                    <div style="height: 20rem ; overflow:auto;">
                        <table class="table table-hover" id="sessiontable">
                            <thead >
                                <tr>
                                    <th>MentorShip Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="mentorshiptablebody" class="font-weight-bold" >
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="p-2">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Membership: </label>
                            <input
                                type="text"
                                class="form-control"
                                id="editmembership"
                                placeholder="Enter Membership Name"
                            />
                        </div>
                            
                        <div id="editinputcontainer" class="form-group"></div>
            
                        <button class="btn btn-primary" id="editaddsession">(+)</button>       
                        <button class="btn btn-primary" id="editaddmentorshipbtn">Save</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/manageMembership.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>