<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<script>
    var adminref = firebase.database().ref('/login/admin');
    function AdminvalidateToken(){
        var email = sessionStorage.getItem('email');
        adminref.on('value', function(snapshot){
            snapshot.forEach((childSnapshot)=>{
                if(childSnapshot.val().email === sessionStorage.getItem('email')){ 
                    if(childSnapshot.val().count > 0) {
                        return true;
                    }
                } 
            })
        })

        if(sessionStorage.getItem('status') !== 'admin' && !email) {
            return false;
        } 
        return false;
    }
    if(!AdminvalidateToken()){
        location.replace(`${location.origin}`);
    }
</script>
<title>Manage Membership</title>
</head>
<body>
    <div class="container">
        <div class="card col-md-6">
            <div class="p-2">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Membership: </label>
                    <input
                        type="text"
                        class="form-control"
                        id="membership"
                        placeholder="Enter Membership Status"
                    />
                </div>
                
                <button class="btn btn-primary" id="addmentorshipbtn">Save</button>
            </div>
        </div>
    </div>
    <script src="../assets/js/manageMembership.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>