<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="Description" content="Enter your description here" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		/>
		<title>Manage Mentor</title>
		<!-- <script>
			function AdminvalidateToken(){
				if(sessionStorage.getItem('status') !== 'admin') {
					return false;
				} 
				return false;
			}
			if(!AdminvalidateToken()){
				location.replace(`${location.origin}`);
			}
		</script> -->
	</head>
	<body>
		<div class="container">
			<div class="card col-md-6">
				<div class="p-2">
					<div class="form-group">
						<label for="exampleFormControlInput1">Mentor Name</label>
						<input
							type="text"
							class="form-control"
							id="mentorname"
							placeholder="Enter Mentor's Name"
							required
						/>
					</div>
					<div class="form-group">
						<label for="exampleFormControlInput2">Email address</label>
						<input
							type="email"
							class="form-control"
							id="mentormail"
							placeholder="Enter Mentor's mail"
							required
						/>
					</div>
					<div class="form-group">
						<label for="">Assign Program</label>
						<select class="form-control" id="mentorship">
                            <option selected>Select Program </option>
							<!-- <option>Pro Mentorship-1</option>
							<option>Pro Mentorship-2</option> -->
						</select>
					</div>
					<button class="btn btn-primary" id="addmentorbtn">Save</button>
				</div>
			</div>
		</div>
        <script src="../assets/js/manageMentor.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
	</body>
</html>
