<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="shortcut icon" type="image/x-icon" href="../Assets/css/favicon.ico" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="../assets/css/app.css">
<title>Session</title>
<script src='/socket.io/socket.io.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/7.3.0/adapter.min.js" integrity="sha256-2qQheewaqnZlXJ3RJRghVUwD/3fD9HNqxh4C+zvgmF4=" crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js"></script>
<link rel="stylesheet" href="../assets/css/session.css">
<script>
    const firebaseConfig = {
        apiKey: "AIzaSyAUCgn__4r9gxa1nIHWuibSz-NxzdeEofw",
        authDomain: "ishwarsingh-fe6da.firebaseapp.com",
        projectId: "ishwarsingh-fe6da",
        storageBucket: "ishwarsingh-fe6da.appspot.com",
        messagingSenderId: "113178540955",
        appId: "1:113178540955:web:f443106593679e5c937f3e",
        measurementId: "G-NGDRDVFQ7S"
    };

    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>

<script type="module" src='../assets/js/videohandler.js'></script>
<script type="module" src="../assets/js/rtc.js"></script>
</head>

<body>
	
    <nav>
        <style>
			i {
				font-size: larger;
			}
		</style>
		<div class="d-flex bg-info rounded-0">
			<div class="text-white"><i>Company</i></div>

			<div class="pull-right room-comm d-flex ml-auto" hidden>
				<div class="">
					<button
						class="btn btn-default"
						type="button"
						id="chat-mentor"
						title="Chat With Mentor"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						<i class="fa fa-user-circle text-white"></i>
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<div
							class="card p-1"
							style="height: 20rem; width: 16rem; overflow: auto;"
							id="msg-contain"
						>
							<!-- <div
								class="bg-light p-2 h6 font-weight-bold justify-content-end"
								style="color: #7b99ec; width: 50%; border-radius: 5px"
							>
								1st message
							</div> -->
							
							<div
								class="input-group"
								style="position: absolute; bottom: 0; left: 0"
							>
								<input
									type="text"
									class="form-control"
									id="studetnttxt"
									placeholder="Enter Message"
								/>
								<div class="input-group-append">
									<span
										class="btn btn-default text-white"
										style="background-color: #08165c"
										id="studentmsgbtn"
										>Send</span
									>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button
					class="btn btn-sm rounded-0 btn-no-effect"
					id="toggle-video"
					title="Hide Video"
				>
					<i class="fa fa-video text-white"></i>
				</button>

				<button
					class="btn btn-sm rounded-0 btn-no-effect"
					id="toggle-mute"
					title="Mute"
				>
					<i class="fa fa-microphone-alt text-white"></i>
				</button>

				<button 
					class="btn btn-sm text-white pull-right btn-no-effect" 
					id='toggle-chat-pane'
					title="chatpane"
					>
                    <i class="fa fa-comment"></i> <span class="badge badge-danger very-small font-weight-lighter" id='new-chat-notification' hidden>New</span>
                </button>

				<button
					class="btn btn-sm rounded-0 btn-no-effect"
					id="share-screen"
					title="Share screen"
				>
					<i class="fa fa-desktop text-white"></i>
				</button>

				<button class="btn btn-sm rounded-0 btn-no-effect text-white">
					<a href="" class="text-white text-decoration-none"
						><i
							class="fa fa-sign-out-alt text-white"
							id="leavebtn"
							title="Leave"
						></i
					></a>
				</button>
			</div>
		</div>
    </nav>
    <div class="container-fluid room-comm" hidden>
        <div class="row">
            <video class="local-video mirror-mode" id='local' volume='0' autoplay muted></video>
        </div>
        
        <div class="row">
            <div class="col-md-12 main" id='main-section'>                    
                <div class="row mt-2 mb-2" id='videos'></div>
            </div>

            <div class="col-md-6 chat-col d-print-none mb-2 bg-info" id='chat-pane' hidden>
                <div class="row">
                    <div class="col-12 text-center h2 mb-3">CHAT</div>
                </div>

                <div id="chat-messages">
					<div class="form-group" id="sess-div">
						<select
							class="form-control"
							id="sessoption"
							onchange="showUser()"
							hidden
						>
							<option>Select Session</option>
						</select>
						<div id="sess-name">

						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-md-3 card" id="mentordiv" hidden>
							<div class="text-center ml-2 mt-2 font-weight-bold text-dark">
								Student List
							</div>
							<hr />
							<div style="overflow: auto; height: 25rem">
								<div id="userlist"></div>
							</div>
						</div>

						<div class="col-md-8 card ml-1">
							<div style="height: 30rem; overflow: auto">
								<div id="usermsgs"></div>

								<div id="adminmsgs"></div>
							</div>
							<div
								class="input-group"
								style="position: absolute; bottom: 0; left: 0"
								id="mentorchatsection"
								hidden
							>
								<input
									type="text"
									class="form-control"
									id="adminmsgstxt"
									required
									placeholder="Enter Message"
								/>
								<div class="input-group-append">
									<span
										class="btn btn-default text-white"
										style="background-color: #08165c"
										id="adminmsgsbtn"
										>Send</span
									>
								</div>
							</div>
							<div
								class="input-group"
								id="studentchatsection"
								style="position: absolute; bottom: 0; left: 0"
							>
								<input
									type="text"
									class="form-control"
									id="studentmsgstxt"
									required
									placeholder="Enter Message"
								/>
								<div class="input-group-append">
									<span
										class="btn btn-default text-white"
										style="background-color: #08165c"
										id="studentmsgsbtn"
										>Send</span
									>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <script src="../assets/js/managechat.js"></script>  -->
				<script src="../assets/js/studentsessionhandler.js"></script>
            </div>
        </div>
    </div>
	
<script src="../assets/js/videoaudiohandler.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>